<!doctype html>
<html>

<head>
  <title>myFirstserver</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Login</h1>
  <%- body -%>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>