<!doctype html>
<html>

<head>
  <title>myFirstserver</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Main Layout</h1>
  <%- include('../partials/header.ejs') %>
  <%- body -%>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>