<form action="http://localhost:3000/" method="POST">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">
  <input type="submit" value="Save Name">
</form>